*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "helvetica", sans-serif;
}
header{
    width: 1920px;
    height: 308px;
    background-color: #0020F4;
    position: relative;
}
.header{
    font-size: 32px;
    padding-left: 240px;
    padding-top: 70px;
    color: white;
    height: 38px;
    position: relative;
}

.parent{
    margin-left: 240px;
    position: relative;
}
.child1{
    width: 463px;
    height: 420px;
    display: inline-block;
    position: relative;
    
}
.p{
    font-size: 18px;
    line-height: 22px;
    background-color:#FFFFFF ;
    top: 285px;
    left: 50%;
    transform: translateX(-50%);
    right: 50%;
    width: 443px;
    height: 125px;
    border-radius: 12px;
    padding: 30px 74px 30px 45px;
    position: absolute;
}
.headparent{
    position: absolute;
    top: 145px;
}
.child2{
    top: -50px;
    position: absolute;
    width: 463px;
    height: 420px;
    margin: 30px;
    display: inline-block;
}
.child3{
    width: 463px;
    height: 420px;
    margin-left: 520px;
    display: inline-block;
    position: relative;
    
}
.child4{
    width: 463px;
    height: 420px;
    margin: 20px;
    display: inline-block;
    position: relative;
}
